<script lang="ts">
import type { ConfigType } from '@gitlab/web-ide-types';
import { defineComponent, ref } from 'vue';
import { ExampleConfigClientOnly, ExampleConfigRemote } from '../types';
import ConfigForm from './ConfigForm.vue';
import WebIde from './WebIde.vue';
import { saveConfig, loadConfig } from '../configStorage';
import { getRemoteConfigFromUrl } from '../getRemoteConfigFromUrl';

export default defineComponent({
  components: {
    ConfigForm,
    WebIde,
  },
  setup() {
    // if URL contains remote config, it takes precedence over stored config
    const savedConfig = getRemoteConfigFromUrl() || loadConfig();

    // state
    const configType = ref<ConfigType | undefined>(savedConfig?.type);
    const config = ref<ExampleConfigClientOnly | ExampleConfigRemote | undefined>(
      savedConfig?.config,
    );
    const runWebIde = ref<boolean>(false);

    // callbacks
    const onSubmit = (
      configTypeArg: ConfigType,
      configArg: ExampleConfigClientOnly | ExampleConfigRemote,
    ) => {
      saveConfig({
        type: configTypeArg,
        config: configArg,
      });

      configType.value = configTypeArg;
      config.value = configArg;
      runWebIde.value = true;
    };

    return {
      runWebIde,
      onSubmit,
      configType,
      config,
    };
  },
});
</script>

<template>
  <!-- what: v-if configType && config to help with type safety. runWebIde implies that these are true -->
  <web-ide v-if="runWebIde && configType && config" :config-type="configType" :config="config" />
  <div v-else>
    <config-form :init-config="config" :init-config-type="configType" @submit="onSubmit" />
    <div class="fixed right-0 bottom-0 text-sm text-white">
      Photo by
      <a
        href="https://unsplash.com/@lucabravo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Luca Bravo</a
      >
      on
      <a
        href="https://unsplash.com/photos/XJXWbfSo2f0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Unsplash</a
      >
    </div>
  </div>
</template>
